name: md-to-html

on: push

jobs:
  convert_via_pandoc:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v5

      - name: Filter README.md
        run: awk '/^\* \* \*$/ {hr=!hr; next} hr' README.md > tmp.md

      - name: Pandoc output Standalone HTML file
        run: |
          docker run --rm -v "${PWD}:/data" \
          pandoc/core:3.8 -s /data/tmp.md -o /data/description.html

      - name: Commit and push description.html
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "Generate description.html from README.md"
          file_pattern: description.html
